.teamDetailsContainer {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.teamName {
  font-size: 2.5em;
  color: #d61313;
  margin-bottom: 20px;
}

.teamLogo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.detailsContainer {
  text-align: left;
  margin-top: 20px;
}

.detailsContainer p {
  font-size: 1.2em;
  margin: 10px 0;
}

.moreInfoButton {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #d61313;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.moreInfoButton:hover {
  background-color: #b10d0d;
}
  