/* news.module.css */

.shopContainer {
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .shopTitle {
    color: #343a40;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .shopParagraph {
    color: #6c757d;
    font-size: 1.2em;
    line-height: 1.5;
  }
  